TELEGRAM_TOKEN="8938162529:AAF7GIF5nTlqt1B2BvssOQ4Zxcm_UnKv5bk"
GIGACHAT_AUTH_KEY="MDFhMGIzNjgtODg0Mi03NDJkLThlZGYtODgzNmVlYzIxMjIzOjc2YzUyYzliLWFjNDYtNGY2NC1hZjdhLWQ0ZGJhMzQ4M2NiMg=="
GIGACHAT_SCOPE=GIGACHAT_API_PERS
